@model Patitas.ViewModels.AddPetViewModel

@{
    ViewBag.Title = "Agregar Mascota";
        Layout = "~/Views/Shared/_admin.cshtml";

}

<form asp-action="AddPet" method="post">
    <div class="form-group">
        <label >Nombre: </label>
        <input type="text" asp-for="Nombre" class="form-control"  placeholder="Nombre de la mascota">
    </div>

    <div class="form-group">
        <label>Tipo de Mascota</label>
        <select asp-for="IdTipoMascota" class="form-control" >
            <option selected>Escoger</option>
            @foreach(var t in (List<TipoMascota>)ViewBag.TipoMascotaS)
            {
                <option value="@t.IdTipoMascota">@t.Nombre</option>
            }

            
        </select>
    </div>
    <div class="form-group">
        <label >Edad: </label>
        <input type="text" asp-for="Edad" class="form-control"  placeholder="Edad de la mascota">
    </div>
    
    <div class="form-group">
        <label >Sexo:  </label>
        <select asp-for="Sexo" class="form-control">
            <option select>Escoger...</option>
            <option value="Macho">Macho</option>
            <option value="Hembra">Hembra</option>
        </select>
    </div>
    <div class="form-group">
        <label >Tamaño: </label>
        <select asp-for="Tamaño" class="form-control">
            <option select>Escoger...</option>
            <option value="Gequeño">Pequeño</option>
            <option value="Mediano">Mediano</option>
            <option value="Grande">Grande</option>
        </select>
    </div>
    <div class="form-group">
        <label >Estado : </label>
        <select asp-for="Estado" class="form-control">
            <option select>Escoger...</option>
            <option value="En adopción">En adopción</option>
            <option value="Está Perdido">Está Perdido</option>
        </select>
    </div>
    <div class="form-group">
        <label >¿Puede estar solo?: </label>
        <select asp-for="PuedeEstarSolo" class="form-control">
            <option select>Escoger...</option>
            <option value="Puede Estar solo">Puede Estar solo</option>
            <option value="Le gusta estar acompañado">Le gusta estar acompañado</option>
            <option value="1 a 3 horas">1 a 3 horas</option>
            <option value="4 a 6 horas">4 a 6 horas</option>
            <option value="más de 7 horas">más de 7 horas</option>
        </select>
    </div>
    <div class="form-group">
        <label >Personalidad principal: </label>
        <select asp-for="Personalidades" class="form-control">
            <option select>Escoger...</option>
            <option value="jugueton">Jugueton</option>
            <option value="Alegre">Alegre</option>
            <option value="Dormilon">Dormilon</option>
        </select>
    </div>
  <div class="form-group">
        <label >Foto Principal: </label>
        <input type="text" asp-for="FotoMascota" class="form-control"  placeholder="Link de  la foto">
    </div>
        <div class="form-group">
        <label>Refugio</label>
        <select asp-for="IdRefugio" class="form-control" >
            <option selected>Escoger</option>
            @foreach(var re in (List<Refugio>)ViewBag.Refugio)
            {
                <option value="@re.IdRefugio">@re.Nombre</option>
            }

            
        </select>
    </div>
  <div class="form-group">
        <label >Descripcion: </label><br>
        <textarea asp-for="Descripcion" class="form-control" rows="4">Descripcion de la mascota</textarea>
  </div>
  <div class="form-group">
        <label >Direccion: </label>
        <select asp-for="Direccion" class="form-control">
            <option selected> Escoger...</option>
            <option value="Amazonas">Amazonas</option>
            <option value="Áncash">Áncash</option>
            <option value="Apurímac">Apurímac</option>
            <option value="Arequipa">Arequipa</option>
            <option value="Ayacucho">Ayacucho</option>
            <option value="Cajamarca">Cajamarca</option>
            <option value="Callao">Callao</option>
            <option value="Cuzco">Cuzco</option>
            <option value="Huancavelica">Huancavelica</option>
            <option value="Huánuco">Huánuco</option>
            <option value="Ica">Ica</option>
            <option value="Junín">Junín</option>
            <option value="La Libertad">La Libertad</option>
            <option value="Lambayeque">Lambayeque</option>
            <option value="Lima">Lima</option>
            <option value="Loreto">Loreto</option>
            <option value="Madre de Dios">Madre de Dios</option>
            <option value="Moquegua">Moquegua</option>
            <option value="Pasco">Pasco</option>
            <option value="Piura">Piura</option>
            <option value="Puno">Puno</option>
            <option value="San Martín">San Martín</option>
            <option value="Tacna">Tacna</option>
            <option value="Tumbes">Tumbes</option>
            <option value="Ucayali">Ucayali</option>
        </select>
    </div>

    
  <button type="submit" class="btn btn-primary text-white g font-weight-bold btn-lg btn-block">Agregar Mascota</button>
</form>
</div>