@model Patitas.ViewModels.AddRefugioViewModel

@{
    ViewBag.Title = "Agregar Refugio";
}

<form asp-action="AddRefugio" method="post">
    <div class="form-group">
        <label >Nombre: </label>
        <input type="text" asp-for="Nombre" class="form-control"  placeholder="Nombre del refugio">
    </div>
    <div class="form-group">
        <label >Email: </label>
        <input type="email" asp-for="Email" class="form-control"  placeholder="Email del refugio">
    </div>
    <div class="form-group">
        <label >Telefono: </label>
        <input type="text" asp-for="Telefono" class="form-control"  placeholder="Telefono del refugio">
    </div>
    <div class="form-group">
        <label >Logo: </label>
        <input type="text" asp-for="Logo" class="form-control"  placeholder="Email del refugio">
    </div>
  <div class="form-group">
        <label >Direccion: </label>
        <select asp-for="Ubicacion" class="form-control">
            <option selected> Escoger...</option>
            <option value="Amazonas">Amazonas</option>
            <option value="Áncash">Áncash</option>
            <option value="Apurímac">Apurímac</option>
            <option value="Arequipa">Arequipa</option>
            <option value="Ayacucho">Ayacucho</option>
            <option value="Cajamarca">Cajamarca</option>
            <option value="Callao">Callao</option>
            <option value="Cuzco">Cuzco</option>
            <option value="Huancavelica">Huancavelica</option>
            <option value="Huánuco">Huánuco</option>
            <option value="Ica">Ica</option>
            <option value="Junín">Junín</option>
            <option value="La Libertad">La Libertad</option>
            <option value="Lambayeque">Lambayeque</option>
            <option value="Lima">Lima</option>
            <option value="Loreto">Loreto</option>
            <option value="Madre de Dios">Madre de Dios</option>
            <option value="Moquegua">Moquegua</option>
            <option value="Pasco">Pasco</option>
            <option value="Piura">Piura</option>
            <option value="Puno">Puno</option>
            <option value="San Martín">San Martín</option>
            <option value="Tacna">Tacna</option>
            <option value="Tumbes">Tumbes</option>
            <option value="Ucayali">Ucayali</option>
        </select>
    </div>
    
  <button type="submit" class="btn btn-primary text-white g font-weight-bold btn-lg btn-block">Agregar Refugio</button>
</form>
