<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Registro Confirmado.</h1>

    <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Estimado TempData["nombre"], usted ha sido registrado satisfactoriamente. 
      Se le ha enviado un mensaje de Bienvenida al correo: TempData["correo"].</p>
     <hr>
    <p class="mb-0">Se le recomienda revisar su correo para la verificacion </p>
    </div>






     
    
    
</body>
</html>