
    <div class="container">
        <div class="row">

            <div class="col-6">
                <img src="http://www.wuf.pe/uploads/images/wufs/KKQi8Cb75cDcTIv6vFBqJtjT18r6UBVr.jpg" alt="">
            </div>
            <div class="col-6">
                <h1>Bienvenido De nuevo</h1>
            </div>
        </div>
        
    </div>
