@model Patitas.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Registro";
}
     <div class="container">
        <div class="row register">
            <div class="col-md-6">
                <img src="~/img/register.png" alt="img register" class="img-fluid w-100">
            </div>
            <div class="col-md-6">
            <p class="h2 text-align-center">Bienvenido </h1>

            <form asp-action="register" method="post">
              <div asp-validation-summary="All"></div>
                  <div class="form-group">
                      <label >Nombre: </label>
                      <input type="text" asp-for="Nombre" class="form-control"  placeholder="Nombre">
                  </div>
                  <div class="form-group">
                      <label >Apellidos: </label>
                      <input type="text" asp-for="Apellidos" class="form-control" placeholder="Apellidos">
                  </div>
                  <div class="form-group">
                      <label >Username: </label>
                      <input type="text" asp-for="UserName" class="form-control" placeholder="Apellidos">
                  </div>
                  <div class="form-group">
                      <label >Eres: </label>
                      <select asp-for="Sexo" class="form-control">
                          <option value="">Escoger...</option>
                          <option value="Mujer">Mujer</option>
                          <option value="hombre">Hombre</option>
                          <option value="otro">Otro</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Email: </label>
                      <input asp-for="Email" class="form-control"  placeholder="Email">
                  </div>
                  <div class="form-group">
                      <label>Password: </label>
                      <input asp-for="Password" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary text-white g font-weight-bold btn-lg btn-block">Crear cuenta</button>
              </div>
          </div>
              
          </form>


            </div>

        </div>

     </div>


