@model Usuario

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
</head>
<body>
   

     <div class="container">
        <div class="row">
            
            <div class="col-6">

                <img src="" alt="..." class="img-thumbnail">




            </div>
            <div class="col-6">
            <h1>Ficha de Postulacion </h1>


<form method="post">
<div class="form-group">
    <label for="exampleInputEmail1">Nombre </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>















  <div class="form-group">
    <label for="exampleInputEmail1">DNI </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="DNI">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
    <small id="emailHelp" class="form-text text-muted">No compartiremos tu correo con otras personas.</small>
  </div>

<div class="form-group">
    <label for="exampleInputEmail1">Direccion: </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Direccion">
    <small id="emailHelp" class="form-text text-muted">No compartiremos tu direccion con otras personas</small>
  </div>

<div class="form-group">
    <label for="exampleInputEmail1">Telefono </label>
    <input type="Telefono" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Telefono">
    <small id="emailHelp" class="form-text text-muted">No compartiremos tu telefono con otras personas.</small>
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Comprobar</label>
  </div>
   <button type="button" class="btn btn-primary btn-lg btn-block">Registrarse </button>
</form>


            </div>

        </div>

     </div>
     
   
        







     




</body>
</html>































   
    