@model Usuario

<h1>Ficha de Postulacion </h1>
<form asp-action="Register" method="post">

   <div asp-validation-summary="All"></div>

   <div><label>Nombre: </label>
       <input asp-for="Nombre">
   </div>

   <div><label>Correo: </label>
       <input asp-for="Email">
   </div>

   <div><label>Password: </label>
       <input asp-for="Password">
   </div>

   <button>Enviar</button>
</form>