@model Usuario

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand">Mundo Patitas</a>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </nav>
     </div>

     <div class="container-fluid">
        <div class="row">
            // para que utilice 4/12
            <div class="col-4">



            </div>
            //para que utilice 8/12
            <div class="col-6">



            </div>

        </div>

     </div>
     
   
        







     




</body>
</html>





























<h1>Ficha de Postulacion </h1>
<form asp-action="Register" method="post">

   <div asp-validation-summary="All"></div>

   <div><label>Nombre: </label>
       <input asp-for="Nombre">
   </div>

   <div><label>Correo: </label>
       <input asp-for="Email">
   </div>

   <div><label>Password: </label>
       <input asp-for="Password">
   </div>

    <div><label>Edad </label>
       <input asp-for="Password">
   </div>

    <div><label>Direccion </label>
       <input asp-for="Password">
   </div>
     
    <div><label>Telefono </label>
        <input asp-for="Password">
     </div>

 <div><label>Edad:  </label>
        <input asp-for="Password">
     </div>

   <button type="button" class="btn btn-primary btn-lg btn-block">Siguiente: </button>
</form>