<div class="row">
            <div class="col-md-4">
			        <div class="mascotaview position-relative overflow-hidden mt-4">
				        <div class="mascota-img overflow-hidden position-relative">
         			        <img src="~/img/2.jpg"  alt="">
        		        </div>
        		        <div class="mascota-info">
                            <div class="row ml-4 ">
                                <div class="col-6">
                                    <p class="nombrepet"><i class="fas fa-paw"i> Firulais</p>
                                    <p class="nombrepet"><i class="fas fa-battery-three-quarters"></i> 2 años</span> 
                                </div>
                                <div class="col-6 text-md-left">
                                   <p class="nombrepet"><i class="fas fa-venus-mars"></i> Macho</p>
                                   <p class="nombrepet"> <i class="fas fa-home"></i> Patitas</p>
                                </div>
                            </div>
                            <div class="container-fluid pt-0 w-100 align-items-center">
                                  <button type="submit" class="btn btn-info rounded-pill pt-0">Adoptar</button>
                            </div>
                        </div>
                        <div class="estado-mascota position-absolute align-middle ">
                            Estado Mascota
                        </div>
                        
                    </div>
            </div>
</div>
