<div class="bloque-mascota bg-secondary">
        <div class="container bg-info mb-3 ">
            <div class="row ">
                <div class="col-md-6 left-block mt-3 mb-3">
                     
                    <div id="main-img" class="border-light">
                            <img id='img-main' src='img/2.jpg' class="img-fluid"  alt='image'>
                    </div> 
                    <div id="small" class="mt-2">
                        <div class="thumb">
                            <img src='img/1.jpg'  alt='image1' class="img-fluid" onClick='verimg(this);' >
                        </div>
                        <div class="thumb">
                            <img src='img/2.jpg'  alt='image2' class="img-fluid" onClick='verimg(this);' >
                        </div>
                        <div class="thumb">
                                <img src='img/2.jpg'  alt='image2' class="img-fluid" onClick='verimg(this);' >
                        </div>
                        <div class="thumb">
                                <img src='img/2.jpg'  alt='image2' class="img-fluid" onClick='verimg(this);' >
                        </div>
                        <div class="thumb">
                                    <img src='img/2.jpg'  alt='image2' class="img-fluid" onClick='verimg(this);' >
                                </div>

                    </div>   
                </div>
                <div class="col-md-6 right-block mt-3">
                    <i class="fas fa-paw"></i> Mi nombre es Firulais
                    <hr>
                    <div class="row">
                        <div class="col-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>