@{
    ViewData["Title"] = "Home Page";
}
  
    <div class="mascota-catalogo" id="mascota-catalogo">
        <div class="container">
        <div class="row">
            <div class="col-md-8 bg-secondary ">
                    <div class="card  mt-3 bg-primary bloqueall ">
                            <div class="row no-gutters text-white pt-4 todas">
                              <div class="col-md-6 my-auto">
                                <div class="card-body ml-3 align-items-center">
                                    <p class="card-text m-0 p-0 ">Adopta tu</p>
                                    <h5 class="card-title">Mascota Perfecta </h5>
                                    <button type="button" class="btn btn-outline-white text-white rounded-pill"> <a asp-controller="Pet" asp-action="Allpets">Ver todos <i class="fas fa-caret-right"></i></a> </button>
                                </div>
                              </div>
                              <div class="col-md-6">
                                    <img src="~/img/pets.png" class="card-img img-fluid" alt="...">
                              </div>
                            </div>
                    </div>
            </div>
            <div class="col-md-4 bg-secondary personal ">
                <div class="row mb-3">
                        <div class="col-md-6 mt-3 boxm ">
                            <a href="#" class="text-decoration-none">
                                <div class="card bg-success m-0 individual">
                                    <div class="card-body p-0 m-0">
                                       <p class="tipo-perro p-0 m-0 text-center text-white">42 disponibles </p> 
                                    </div>
                                    <div class="fto-mascota m-0">
                                        <img src="~/img/pets.png" class="card-img-top rounded img-fluid w-100" alt="...">
                                    </div>

                                </div>
                            </a>
                        </div>
                    
                        <div class="col-md-6 mt-3 boxm ">
                                <a href="#" class="text-decoration-none">
                                    <div class="card bg-danger m-0 individual">
                                        <div class="card-body p-0 m-0">
                                           <p class="tipo-perro p-0 m-0 text-center text-white">42 disponibles </p> 
                                        </div>
                                        <div class="fto-mascota m-0">
                                            <img src="~/img/pets.png" class="card-img-top rounded img-fluid w-100" alt="...">
                                        </div>

                                    </div>
                                </a>
                        </div>

                        <!-- Segunda lista -->

                        <div class="col-md-6 mt-2 boxm ">
                                <a href="#" class="text-decoration-none">
                                    <div class="card bg-warning m-0 individual">
                                        <div class="card-body p-0 m-0">
                                           <p class="tipo-perro p-0 m-0 text-center text-white">42 disponibles </p> 
                                        </div>
                                        <div class="fto-mascota m-0">
                                            <img src="~/img/pets.png" class="card-img-top rounded img-fluid w-100" alt="...">
                                        </div>

                                    </div>
                                </a>
                        </div>
                        <div class="col-md-6 mt-2 boxm ">
                                <a href="#" class="text-decoration-none">
                                    <div class="card bg-info m-0 individual">
                                        <div class="card-body p-0 m-0">
                                           <p class="tipo-perro p-0 m-0 text-center text-white">42 disponibles </p> 
                                        </div>
                                        <div class="fto-mascota m-0">
                                            <img src="~/img/pets.png" class="card-img-top rounded img-fluid w-100" alt="...">
                                        </div>

                                    </div>
                                </a>
                        </div>
                </div>

        </div>
    </div>
    </div>