@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><h2>Vision</h2></p>
<p>Somos Mundo Patitas y Nuestra visión es  conseguir un hogar a los animales sin hogar contruyendo una comunidad de amantes de animales, 
donde puedan compartir información sobre animales perdidos, información de veterinarias, refugios de animales, etc.  
</p>

<p><h2>Nuestra propuesta consiste en poder encontrarles un hogar a las mascotas que formen parte de la comunidad
 de Mundo de Patitas, las cuales incluyen: </h2></p>

<p>- Mascotas rescatas de las calles </p>
<p>- Mascotas que han nacido en un hogar, el cual se encuentra sin espacio disponible. </p>
<p>- Mascotas que se encuentran en refugios de animales. </p>

<p>Por otro lado, también brindamos información para la segura esterilización de las mascotas para reducir 
<p>en un futuro el creciente número de mascotas sin un hogar.</p>
<p>- Clinicas Veterinarias cercanas al usuario. </p>
<p>- Centros de Salud especializados en el procedimiento de esterilización. </p>
<p>- Centros de refugios. </p>

<p><h2> Funcionalidades: </h2></p>  
<p> - Registro de usuarios. </p> 
<p> - Confirmación del registro.</p> 
<p> - Registro de animales perdidos.</p> 
<p> - Registro de las mascotas para adopción.</p> 
<p> - Compartir información sobre mascotas perdidas o que estén para adopción utilizando formularios de registros.</p> 
<p> - Facilitar la adopción de mascotas.</p> 
<p> - Acceso a información adicional sobre Campañas para la esterilización de animales.</p> 
<p> - Listado de refugios de animales.</p> 
<p> - Listado de veterinarios.</p> 
<p> - Contacto y soporte de usuarios.</p> 

<p> Mas informacion en : Adelaotayzacp@gmail.com </p> 



